.tooltip {
	display: inline;
	position: relative;
	z-index: 999;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	padding-top: 25px;
	left: 50%;
	margin-left: -40px;
	bottom: 100%;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	color: #47c9af;
	opacity: 0;
	margin-bottom: 20px;
	cursor: default;
	pointer-events: none;
}

.tooltip-content i {
	opacity: 0;
}

.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i {
	opacity: 1;
}

.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
	transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-1 .tooltip-content i {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-2 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-2 .tooltip-content i {
	-webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	transform: translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-3 .tooltip-content i {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-4 .tooltip-content {
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-4 .tooltip-content i {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-5 .tooltip-content {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-5 .tooltip-content i {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i {
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	transform: translate3d(0,0,0) scale3d(1,1,1);
}

.tooltip-effect-1:hover .tooltip-content i {
	-webkit-transform: rotate3d(1,1,1,0);
	transform: rotate3d(1,1,1,0);
}

/* Arrow */

.tooltip-content::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin: -7px 0 0 -15px;
	width: 30px;
	height: 20px;
	background: url(../img/tooltip1.svg) no-repeat center center;
	background-size: 100%;

}